{
    "presets": [
        "@babel/preset-react",
        ["@babel/preset-env", {     // looks at browserslist in package.json and compiles javascript to work on those
            "targets": {
                "browsers": "last 2 versions"
            },
            "loose": false,
            "modules": false
        }]
    ],
    // Handle async-awaits etc.
    "plugins": [
        "@babel/transform-runtime",
        "@babel/plugin-proposal-class-properties"
    ]
}